.atividade .enviaResposta {
  background: #ff871f !important;
 
 	&:active{
 		background: #2274AC !important;
 	}

}

.atividade .enviaResposta.desativado {
  background: #636363 !important;
}

.atividade .pergunta_atividade .tagP {
	color:#2274AC;
}