

.resource .caixaDestaque .textoCaixaDestaque {
	padding: 15px 20px 15px 15px;
	float: right;

}

.resource .atencao {
	border: none;
	width: 392px;
}

.caixaDestaque.atencao {
	
	
	.textoCaixaDestaque{
		background: transparent;

		.tagP{
			color: #33434C;
			font-size: 15px;
			font-family: Arial;
		}

	}
	.tituloCaixaDestaque{
		background: #51ae30;
		h2{
			background: #51ae30;
			color: #ffffff;
			font-size: 19px;
		}
		
	}

	.iconDestaque{
		top: -27px;
		 left: -22px;
		height: 50px;
		width: 50px;
		&:after{
			  background: url("assets/images/VW38_atencao.png") no-repeat;
			  background-size: 61px;
			  top: 19px;
			  left: 37px;

		}
	}
}


.caixaDestaque.informacao {


	.textoCaixaDestaque{
		background: transparent;

		.tagP{
			color: #33434C;
			font-size: 15px;
			font-family: Arial;
		}

	}
	.tituloCaixaDestaque{
		background: #51ae30;
		h2{
			background: #51ae30;
			color: #ffffff;
			font-size: 19px;
		}
		
	}

	.iconDestaque{
		top: -27px;
		left: -25px;
		height: 50px;
		width: 50px;
		&:after{
			background: url("assets/images/VW38_informacao.png") no-repeat;
			top: 21px;
			left: 39px;
			background-size: 46px;


		}
	}
}



.caixaDestaque.objetivo {
	

	.textoCaixaDestaque{
		background: transparent;

		.tagP{
			color: #33434C;
			font-size: 15px;
			font-family: Arial;
		}

	}
	.tituloCaixaDestaque{
		background: #51ae30;
		h2{
			background: #51ae30;
			color: #ffffff;
			font-size: 19px;
		}
		
	}

	.iconDestaque{
		top: -27px;
		 left: -25px;
		height: 50px;
		width: 50px;
		&:after{
			  background: url("assets/images/VW38_abjetivo.png") no-repeat;
			  top: 18px;
			  left: 38px;
			  background-size: 54px;
		}
	}
}

.caixaDestaque.importante {
	
	.textoCaixaDestaque{
		background: transparent;

		.tagP{
			color: #33434C;
			font-size: 15px;
			font-family: Arial;
		}

	}
	.tituloCaixaDestaque{
		background: #51ae30;
		h2{
			background: #51ae30;
			color: #ffffff;
			font-size: 19px;
		}
		

	}
	
	.iconDestaque{
		top: -39px;
		left: 0px;
		height: 50px;
		width: 50px;
		&:after{
			background: url("assets/images/VW38_importante.png") no-repeat;
			top: 34px;
			left: 10px;
			background-size: 60px;

		}
	}
}


.caixaDestaque.saibaMais {
	background: transparent;

	.textoCaixaDestaque{
		background: transparent;


		.tagP{
			color: #33434C;
			font-size: 15px;
			font-family: Arial;

		}

	}
	.tituloCaixaDestaque{
		background: #51ae30;
		h2{
			background: #51ae30;
			color: #ffffff;
			font-size: 19px;
		}
		

	}
	.iconDestaque{
		top: -28px;
		  left: -23px;
		height: 50px;
		width: 50px;
		&:after{
			background: url("assets/images/VW38_saiba_mais.png") no-repeat;
			top: 22px;
			left: 39px;
			background-size: 46px;

		}
	}
}


.caixaDestaque.pratique {
	

	.textoCaixaDestaque{
		background: transparent;

		.tagP{
			color: #33434C;
			font-size: 15px;
			font-family: Arial;
		}

	}
	.tituloCaixaDestaque{
		background: #51ae30;
		h2{
			background: #51ae30;
			color: #ffffff;
			font-size: 19px;
		}
		
	}

	.iconDestaque{
		top: -27px;
		left: -24px;
		height: 50px;
		width: 50px;
		&:after{
			background: url("assets/images/VW38_pratique.png") no-repeat;
			top: 20px;
			left: 30px;
			background-size: 46px;

		}
	}
}


.caixaDestaque.dica {
	
	.textoCaixaDestaque{
		background: transparent;

		.tagP{
			color: #33434C;
			font-size: 15px;
			font-family: Arial;
		}

	}
	.tituloCaixaDestaque{
		background: #51ae30;
		h2{
			background: #51ae30;
			color: #ffffff;
			font-size: 19px;
		}
		
	}

	.iconDestaque{
		top: -27px;
		left: -20px;
		height: 50px;
		width: 50px;
		&:after{
			background: url("assets/images/VW38_exemplo.png") no-repeat;
			top: 18px;
			left: 40px;
			background-size: 42px;

		}
	}
}



.caixaDestaque.programe-se {
	

	.textoCaixaDestaque{
		background: transparent;

		.tagP{
			color: #33434C;
			font-size: 15px;
			font-family: Arial;
		}

	}
	.tituloCaixaDestaque{
		background: #51ae30;
		h2{
			background: #51ae30;
			color: #ffffff;
			font-size: 19px;
		}
		
	}

	.iconDestaque{
		top: 44px;
		left: -54px;
		&:after{
			background: url("assets/images/VW38_dica.png") no-repeat;
			height: 62px;
			width: 58px;
			top: 20px;
			background-size: 37px;
			left: 43px;

		}
	}
}

.resource .caixaDestaque .tituloCaixaDestaque h2 {
	padding: 7px 0px 7px 25px;
}