

.resource .caixaDestaque .textoCaixaDestaque {
	
	float: right;
	border-left: 1px solid #2274ac;
	margin-top: 10px;
	margin-bottom: 10px;
	 width: 303px;

}

.resource .atencao {
  border: none;
  
}

.caixaDestaque{
  width: 360px !important;
}
.caixaDestaque.atencao {
	background: #ffffff;

	.textoCaixaDestaque{
		background: #ffffff;
		
		h2{
			color: #2274ac;
			font-size: 19px;
		}

		.tagP{
			color: #33434C;
			font-size: 12px;
			font-family: Arial;
			
		}

	}

	.iconDestaque{
		top: 36%;
		left: -5px;
		&:after{
			background: url("assets/images/VW38_atencao.png") no-repeat;
			background-size: 47px;

		}
	}
}


.caixaDestaque.informacao {
	background: #ffffff;

	.textoCaixaDestaque{
		background: #ffffff;
		
		h2{
			color: #2274ac;
			font-size: 19px;
		}

		.tagP{
			color: #33434C;
			font-size: 12px;
			font-family: Arial;
			
		}

	}

	.iconDestaque{
		top: 36%;
		left: 11px;
		&:after{
			background: url("assets/images/VW38_informacao.png") no-repeat;
			background-size: 47px;


		}
	}
}



.caixaDestaque.objetivo {
	background: #ffffff;

	.textoCaixaDestaque{
		background: #ffffff;
		
		h2{
			color: #2274ac;
			font-size: 19px;
		}

		.tagP{
			color: #33434C;
			font-size: 12px;
			font-family: Arial;
			
		}

	}

	.iconDestaque{
		top: 36%;
		left: 11px;
		&:after{
			background: url("assets/images/VW38_abjetivo.png") no-repeat;
			background-size: 47px;	
		}
	}
}

.caixaDestaque.importante {
	background: #ffffff;

	.textoCaixaDestaque{
		background: #ffffff;
		
		h2{
			color: #2274ac;
			font-size: 19px;
		}

		.tagP{
			color: #33434C;
			font-size: 12px;
			font-family: Arial;
			
		}

	}

	.iconDestaque{
		top: 36%;
		left: 11px;
		&:after{
			background: url("assets/images/VW38_importante.png") no-repeat;
			background-size: 47px;
		}
	}
}


.caixaDestaque.saibaMais {
	background: #ffffff;

	.textoCaixaDestaque{
		background: #ffffff;
		
		h2{
			color: #2274ac;
			font-size: 19px;
		}

		.tagP{
			color: #33434C;
			font-size: 12px;
			font-family: Arial;
			
		}

	}

	.iconDestaque{
		top: 36%;
		left: 11px;
		&:after{
			background: url("assets/images/VW38_saiba_mais.png") no-repeat;
			background-size: 47px;
		}
	}
}


.caixaDestaque.pratique {
	background: #ffffff;

	.textoCaixaDestaque{
		background: #ffffff;
		
		h2{
			color: #2274ac;
			font-size: 19px;
		}

		.tagP{
			color: #33434C;
			font-size: 12px;
			font-family: Arial;
			
		}

	}

	.iconDestaque{
		top: 36%;
		left: 11px;
		&:after{
			background: url("assets/images/VW38_pratique.png") no-repeat;
			background-size: 47px;
		}
	}
}


.caixaDestaque.dica {
	background: #ffffff;

	.textoCaixaDestaque{
		background: #ffffff;
		
		h2{
			color: #2274ac;
			font-size: 19px;
		}

		.tagP{
			color: #33434C;
			font-size: 12px;
			font-family: Arial;
			
		}

	}

	.iconDestaque{
		top: 36%;
		left: 11px;
		&:after{
			background: url("assets/images/VW38_exemplo.png") no-repeat;
			background-size: 47px;

		}
	}
}



.caixaDestaque.programe-se {
background: #ffffff;

	.textoCaixaDestaque{
		background: #ffffff;
		
		h2{
			color: #2274ac;
			font-size: 19px;
		}

		.tagP{
			color: #33434C;
			font-size: 12px;
			font-family: Arial;
			
		}

	}

	.iconDestaque{
		  top: 45%;
 		 left: 5px;
		&:after{
			background: url("assets/images/VW38_dica.png") no-repeat;
			background-size: 47px;

		}
	}
}

.resource .programe-se .tituloCaixaDestaque {
  position: absolute;
  width: none;
  left: none;
  bottom: none;
  padding: none;
  text-align: right;
  background: none;
 color: none;
 box-shadow: none;

  }