.CapaGeralAula{
	.texto.titulo.secundario .tagP{
		color: #ffffff;
		font-size: 36px;
	}

	.texto.titulo.primario .tagP{
		color: #ffffff;
		font-size: 122px;
	}	

	.texto.normal.semFundo .tagP{
		color: #ffffff;
		font-size: 30px;
		text-align: center;
		font-weight: bold;
		  margin: 7px;
		    line-height: 30px;

	}
}


