.IntroducaoAula{

	.texto.normal .tagP{
		font-family: Arial;
		font-size: 14px;
		line-height: 20px; 
		color: #ffffff;

	}

	.texto.titulo.secundario .tagP{
		color: #ffffff;
		font-size: 18px;
	}
}