.middle{
	background: url("assets/images/VW38_background.png") no-repeat;
}

.botaoIndice{
	background: none;
	width: 45px;
	height: 16px;
	border-radius: 6px;
	background: trasparent;
	border: 1px solid;
	top: 14px;
	right: 31px;
	color: #a2a2a2;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(199,199,199,1);
	-moz-box-shadow: 1px 1px 5px 0px rgba(199,199,199,1);
	box-shadow: 1px 1px 5px 0px rgba(199,199,199,1);

	.botao-menu-texto{

		font-size: 12px;
		font-weight: bold;
		padding: 2px 5px 3px 7px;
		left: 0px;
		top: 0px !important;
	}
}

.botaoAjuda{
	z-index: 19;
}

.DestaqueLateralAzul {
	.texto.titulo.secundario .tagP{
		color: #ffffff;
		font-size: 24px;

	} 
	
	.texto.normal.semFundo .tagP{
		font-size: 14px;
		font-family: Arial;
	}

	.texto.normalModelo2 .tagP{
		color: #ffffff;
		font-family: Arial;
		font-size: 14px;
		line-height: 20px; 
		}

}

.texto.normalModelo2 .tagP{
		color: #ffffff;
		font-family: Arial;
		font-size: 14px;
		line-height: 20px; 
		} 