/* line 1, ../sass/main/style.scss */
.middle {
  background: url("assets/images/VW38_background.png") no-repeat;
}

/* line 5, ../sass/main/style.scss */
.botaoIndice {
  background: none;
  width: 45px;
  height: 16px;
  border-radius: 6px;
  background: trasparent;
  border: 1px solid;
  top: 14px;
  right: 31px;
  color: #a2a2a2;
  -webkit-box-shadow: 1px 1px 5px 0px #c7c7c7;
  -moz-box-shadow: 1px 1px 5px 0px #c7c7c7;
  box-shadow: 1px 1px 5px 0px #c7c7c7;
}
/* line 19, ../sass/main/style.scss */
.botaoIndice .botao-menu-texto {
  font-size: 12px;
  font-weight: bold;
  padding: 0px 5px 3px 7px;
  left: 0px;
  top: 0px !important;
}

/* line 29, ../sass/main/style.scss */
.botaoAjuda {
  z-index: 19;
}

/* line 33, ../sass/main/style.scss */
.ajuda {
  position: absolute !important;
  background: url("assets/images/ajuda.png") no-repeat !important;
  width: 100% !important;
  height: 630px !important;
  z-index: 20 !important;
  left: 0px !important;
  background-size: 1020px 631px !important;
  top: -4px !important;
}

/* line 47, ../sass/main/style.scss */
#indice {
  position: absolute;
  top: 50px;
  width: 975px;
  max-width: 30630px;
  height: 439px;
  padding: 1px 1px 1px 1px;
}

/* line 58, ../sass/main/style.scss */
.menuIndice {
  background: url("assets/images/VW38_background.png") no-repeat;
  position: absolute;
  left: 20px;
  width: 100%;
}
/* line 64, ../sass/main/style.scss */
.menuIndice ol {
  -moz-column-gap: 1px;
  -webkit-column-gap: 1px;
  column-gap: 1px;
}
/* line 70, ../sass/main/style.scss */
.menuIndice ol .column-0 {
  margin-left: 0px;
}
/* line 72, ../sass/main/style.scss */
.menuIndice ol .column-0.resetColumn {
  margin-top: -440px;
}
/* line 70, ../sass/main/style.scss */
.menuIndice ol .column-1 {
  margin-left: 325px;
}
/* line 72, ../sass/main/style.scss */
.menuIndice ol .column-1.resetColumn {
  margin-top: -440px;
}
/* line 70, ../sass/main/style.scss */
.menuIndice ol .column-2 {
  margin-left: 650px;
}
/* line 72, ../sass/main/style.scss */
.menuIndice ol .column-2.resetColumn {
  margin-top: -440px;
}
/* line 70, ../sass/main/style.scss */
.menuIndice ol .column-3 {
  margin-left: 975px;
}
/* line 72, ../sass/main/style.scss */
.menuIndice ol .column-3.resetColumn {
  margin-top: -440px;
}
/* line 70, ../sass/main/style.scss */
.menuIndice ol .column-4 {
  margin-left: 1300px;
}
/* line 72, ../sass/main/style.scss */
.menuIndice ol .column-4.resetColumn {
  margin-top: -440px;
}
/* line 70, ../sass/main/style.scss */
.menuIndice ol .column-5 {
  margin-left: 1625px;
}
/* line 72, ../sass/main/style.scss */
.menuIndice ol .column-5.resetColumn {
  margin-top: -440px;
}
/* line 70, ../sass/main/style.scss */
.menuIndice ol .column-6 {
  margin-left: 1950px;
}
/* line 72, ../sass/main/style.scss */
.menuIndice ol .column-6.resetColumn {
  margin-top: -440px;
}
/* line 70, ../sass/main/style.scss */
.menuIndice ol .column-7 {
  margin-left: 2275px;
}
/* line 72, ../sass/main/style.scss */
.menuIndice ol .column-7.resetColumn {
  margin-top: -440px;
}
/* line 70, ../sass/main/style.scss */
.menuIndice ol .column-8 {
  margin-left: 2600px;
}
/* line 72, ../sass/main/style.scss */
.menuIndice ol .column-8.resetColumn {
  margin-top: -440px;
}
/* line 70, ../sass/main/style.scss */
.menuIndice ol .column-9 {
  margin-left: 2925px;
}
/* line 72, ../sass/main/style.scss */
.menuIndice ol .column-9.resetColumn {
  margin-top: -440px;
}
/* line 70, ../sass/main/style.scss */
.menuIndice ol .column-10 {
  margin-left: 3250px;
}
/* line 72, ../sass/main/style.scss */
.menuIndice ol .column-10.resetColumn {
  margin-top: -440px;
}
/* line 70, ../sass/main/style.scss */
.menuIndice ol .column-11 {
  margin-left: 3575px;
}
/* line 72, ../sass/main/style.scss */
.menuIndice ol .column-11.resetColumn {
  margin-top: -440px;
}
/* line 70, ../sass/main/style.scss */
.menuIndice ol .column-12 {
  margin-left: 3900px;
}
/* line 72, ../sass/main/style.scss */
.menuIndice ol .column-12.resetColumn {
  margin-top: -440px;
}
/* line 70, ../sass/main/style.scss */
.menuIndice ol .column-13 {
  margin-left: 4225px;
}
/* line 72, ../sass/main/style.scss */
.menuIndice ol .column-13.resetColumn {
  margin-top: -440px;
}
/* line 70, ../sass/main/style.scss */
.menuIndice ol .column-14 {
  margin-left: 4550px;
}
/* line 72, ../sass/main/style.scss */
.menuIndice ol .column-14.resetColumn {
  margin-top: -440px;
}
/* line 70, ../sass/main/style.scss */
.menuIndice ol .column-15 {
  margin-left: 4875px;
}
/* line 72, ../sass/main/style.scss */
.menuIndice ol .column-15.resetColumn {
  margin-top: -440px;
}

/* line 81, ../sass/main/style.scss */
.menuIndice .avancarIndice {
  position: absolute;
  cursor: pointer;
  right: 42px;
  top: 50%;
  margin-top: -12.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 25px;
  border-color: transparent transparent transparent #ff871f;
  z-index: 9999;
}

/* line 96, ../sass/main/style.scss */
.menuIndice ol .indiceVisitado {
  background: #f3f3f3;
  border-radius: 0px;
  border: 1px solid #dadada;
}
/* line 101, ../sass/main/style.scss */
.menuIndice ol .indiceVisitado h3 {
  color: #5a646b;
  font-family: 'Open Sans', sans-serif;
}
/* line 107, ../sass/main/style.scss */
.menuIndice ol .indiceVisitado:before {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #ffffff;
  width: 35px;
  height: 34px;
  content: counter(li);
  counter-increment: li;
  background: #ff871f;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  padding-top: 8px;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  border: 1px solid #ffffff;
}
/* line 129, ../sass/main/style.scss */
.menuIndice ol .indiceVisitado:hover {
  border: 1px solid #ff871f;
}
/* line 132, ../sass/main/style.scss */
.menuIndice ol .indiceVisitado:hover:before {
  border: none;
}

/* line 138, ../sass/main/style.scss */
.menuIndice ol li {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  padding-left: 10px;
  padding-top: 5px;
  width: 246px;
  height: 36px;
  background: #f3f3f3;
  margin-bottom: 8px;
  margin-left: 0px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border: 1px solid #dadada;
}
/* line 153, ../sass/main/style.scss */
.menuIndice ol li:before {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #969696;
  width: 35px;
  height: 34px;
  content: counter(li);
  counter-increment: li;
  background: #cccccc;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  padding-top: 8px;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  border: 1px solid #969696;
}

/* line 176, ../sass/main/style.scss */
.menuIndice ol .indiceAtual {
  background: #fbcba2;
  border: 1px solid #ff871f;
}
/* line 180, ../sass/main/style.scss */
.menuIndice ol .indiceAtual:before {
  border: none;
}

/* line 185, ../sass/main/style.scss */
.menuIndice ol li h3 {
  font-size: 13px;
  font-weight: normal;
  width: 220px;
  position: absolute;
  top: 7px;
  left: 25px;
}
